//-----------------------------------HEADER------------------------------------------
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
  height: 60px;
  border-bottom: 1px solid var(--very-light-pink);
  position: sticky;
  top: 0;
  background-color: white;
}
.header__logo {
  width: 150px;
}
.header__navbar {
  height: 100%;
}
.header__navbar .list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navbar .list__item {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 12px;
}
.header__navbar .list__item:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}
.menu {
  display: none;
}

//-------------NAVBAR-LEFT----------
.navbar-left {
  display: flex;
  font-size: var(--md);
  gap: 28px;
}
//------------NAVBAR-RIGTH-----------
.navbar-right {
  width: 200px;
}
.navbar-right .list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.list__email {
  color: var(--black);
  font-size: var(--sm);
  cursor: pointer;
}
.shopping-cart {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}
.shopping-cart__icon{
  width: 100%;
  object-fit: cover;
}
.shopping-cart__quantity{
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: -5px;
  right: -5px;
}
@media (max-width: 640px) {
  .header {
      padding: 0 28px;
  }
  .menu {
      display: block;
      cursor: pointer;
  }
  .navbar-left .list {
      display: none;
  }
  .navbar-right {
    width: auto;
  }
  .list__email {
      display: none;
  }
}